* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
    padding:25px;
    display: flex;
    justify-content: space-between
}

img {
    width: 100px;
    height: 100px;
    max-width: 100%;
}

h1 {
    margin: 25px 0 25px 0;
    text-align: center;
}

#info {
    border-collapse: collapse;
    width: 100%;
}

#info td, #info th {
    border: 1px solid #ddd;
    padding: 1em;
}

#info th {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#info th:hover {
    cursor: pointer;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 4px;
}

.pagination > li {
    padding: 0.75rem 1rem;
    margin-left: -1px;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
    color: black;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.pagination > li.active {
    background-color: #4CAF50;
    color:#fff;
}

input {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: 0;
}

input[name="search"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name="search"]:focus {
    width: 30%;
}

.add-row {
    text-align: center;
    margin: 50px auto;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}

.save {
    text-align: center;
    margin-top: 25px;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
        overflow: auto;
    }

    input[name="search"] {
        margin-left: 25px;
        margin-top: 25px;
    }

    .save {
        margin-top: 15px;
    }

    img {
        width: 70px;
        height: 70px;
    }

    #container {
        overflow-x: scroll;
    }

    #info td, #info th{
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 16px;
        overflow: auto;
    }

    input[name="search"] {
        width: 150px;
    }

    #info td, #info th{
        font-size: 14px;
    }

    .add-row, .save {
        padding: 10px;
        width: 150px;
    }

    .save {
        margin-top: 25px;
        height: 35px;
    }
}
